/*
    Author: David De Alva
    Date: 09/5/2020
    File name: student/css/styles.css
    */
    /*css reset*/
body, header, nav, main, footer, h1, div, img, ul{
          margin: 0;
          padding: 0;
          border: 0;
}
/*styles rule for body and img*/
body {
            background-image:  linear-gradient(#333399,#006600);        /* #339970;*/
          }

img {
              max-width: 100%;
              display: block;
  }


  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image:  linear-gradient(#333399,#006600);
    height: 110px;
  }

  header img {
        margin: 0 auto;
        width: 29%
  }

/*style rules for nav area*/



/*style rules for nav area*/
nav {
      padding: 1%;
      margin-bottom: 1%;

}

nav ul {
    list-style-type: none;
    text-align: center;

}
nav li{
    font-size: 1.25em;
    border-top: 1px solid #fff;
    font-family: 'Chilanka', cursive;
}

nav li:first-child{
  border-top: none;
}

nav li: hover{
  background-color: #00610d;
}

nav li a{
  display: block;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
}


/*Show mobile class, hide desktop class*/

.mobile {
  display: block;
}

.tablet-desktop {
  display: none;
}
/* style rules for main */
main {
  background-color: #fff;
  padding: 2%;
  font-size: 1.25em;
  font-family: 'Montserrat', sans-serif;
}


.action {
            font-size: 1.35em;
            color: #666600;
            font-weight: bold;
}
/* Style rules for homr page attributes */
.home_image {
  width: 20%;
  float: left;
  margin: 0 2%;
  border: 4px solid #000;

}

#intro {
              clear: left;
              float: right;
              font-family:   georgia, times, sans-serif;
}

#intro h3 {
                  font-weight: bold;
                  font-size: 1.5em;
          }
.bubble dd {
              padding: #00913d;
              border-radius: 8px;
}

#description {
                clear: right;
                  border-top: 1px solid #000;
                  border-bottom: 1px solid #000;
                  background-color: #f2f2f2;
                  padding: 1% 2%;
}


#description dt{
                      font-weight: bold;
}

#description dd{
                      padding: 0.5% 1% 2% 0;
}


/*style rules for external links and contact info*/
.external_link {
                        color: #00e6a3;
                        font-weight: bold;
                        text-decoration: none;
}

#contact {
                text-align: center;
}

#contact a {
                  color: #666600;
                  text-decoration: none;
}
.map {
            border: 8px solid #000;
}

/*sports page*/
#sport_list img{
              float: left;
              width: 3%;
              height: 3%;

}

#sports_list dt{
                      font-weight: bold;
}

#sports_list dd{
                      padding: 0.5% 5% 2% 0;
                      margin-left: 550px
}

/*VId Game page*/
.tel-link {
          background-color: #404040;
          padding: 2%;
          margin: 0 auto;
          width: 80%;
          text-align: center;
          border-radius: 5px;
}

.tel-link a {
            color: #fff;
            text-decoration: none;
            font-size: 1.25em;
            display: block;
}
.tourneys {
  margin-left: 10%;
}


/*style rules for footer*/
footer p {
              font-size: 0.75em;
              text-align: center;
              color: #fff;
              padding: 0 1em;
}

footer p a{
                color: #fff;
                text-decoration: none;
}

#container{
  width: 80%;
  margin: 0 auto;
}
